.mantine-Slider-root {
  .mantine-Slider-track {
    --slider-radius: 0;
    height: 1px;
  }
}

.mantine-Tooltip-tooltip,
.mantine-TooltipFloating-tooltip {
  background-color: white;
  border: 1px solid var(--color-primary-d2);
  color: var(--color-text);
  font-size: 10pt;
  z-index: 5000000 !important;
}

.mantine-Modal-root {
  --mb-z-index: 1000000 !important;

  .mantine-Modal-content {
    border: 1px solid var(--color-primary);
  }
}

.mantine-Tabs-root {
  display: flex;
  flex-direction: column;

  .mantine-Tabs-list {
    flex-shrink: 0;
  }

  .mantine-Tabs-panel {
    flex: 1;
  }
}
