@use "fonts" as *;
@use "vars" as *;
@use "mantine" as *;

* {
  box-sizing: border-box;
}

:root {

}

body {
  overflow: hidden;
}

button,
[role=button] {
  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

button {
  background: unset;
  border: unset;
  text-align: unset;
  padding: 0;
}

h5 {
  font-size: 10pt;
  font-weight: 600;
  margin: 12px 0;
}

#react-joyride-portal {
  .react-joyride__tooltip, button {
    border-radius: 0 !important;
  }
}
