.cursor {
  --color: var(--color-primary-l3);

  pointer-events: none;

  position: absolute;
  top: var(--top);
  left: 0;

  width: 100%;
  height: 1px;

  display: flex;
  flex-direction: row;
  align-items: center;

  > .addButton {
    pointer-events: all;

    width: 64px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary-l2);
    border: 1px solid var(--color-primary-l3);
    border-left: 0;

    &:hover {
      background-color: var(--color-primary-l3);
    }

    &:active {
      background-color: var(--color-primary-l1);
    }
  }
  
  > .line {
    flex: 1;

    height: 1px;
    
    background-color: var(--color);
  }

  > .time {
    padding: 0 16px 0 8px;
    font-size: 8pt;
    color: var(--color);

    border-left: 1px solid var(--color);
  }

  > .next {
    position: absolute;

    left: 50%;
    top: 1px;
    max-width: calc(100% - 150px);

    padding: 2px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 9pt;
    font-weight: 300;
    color: var(--color);

    background-color: #00000060;

    > * {
      filter: drop-shadow(0px 0px 1px black)
        drop-shadow(0px 0px 1px black);
    }

    //filter: drop-shadow(0px 0px 1px black)
    //  drop-shadow(0px 0px 1px black);
    transform: translateX(-50%);
  }
}
