.container {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--color-primary-d3);

  > canvas {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
  }
}
