.entryFrame {
  width: 100%;
  height: 100%;

  padding-left: calc(var(--ruler-width) - 21px);
  padding-right: 32px;

  > .entryContainer {
    position: relative;

    width: 100%;
    height: 100%;
  }
}

.entry {
  cursor: grab;

  position: absolute;
  left: 0;
  top: var(--top);

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 0px;

  &[data-focused=true] {
    z-index: 100;
  }

  > .reference {
    visibility: hidden;

    position: absolute;
    left: 64px;
    top: 0;

    width: calc(100% + 32px);
    height: 1px;
    
    background-color: magenta;
    z-index: -1;
  }

  &:hover > .reference {
    visibility: visible;
  }

  > .handle {
    width: 25px;
    height: 7px;
    flex-shrink: 0;

    background-color: var(--color-primary-l3);
    border: 1px solid var(--color-primary-d3);
  }

  > .bridge {
    width: 32px;
    height: 1px;
    flex-shrink: 0;

    background-color: var(--color-primary-d3);
  }

  > .body {
    display: flex;
    flex-direction: row;

    border: 1px solid var(--color-primary-d3);
    background-color: var(--color-primary-l3);

    > .timestampContainer {
      flex-shrink: 0;
      width: 120px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-right: 1px solid var(--color-primary-d3);

      .timestamp {
        display: flex;
        align-items: end;

        font-family: font('Saira Stencil');
        font-weight: 600;
        font-size: 10pt;
        text-align: center;

        > .ms {
          font-size: 8pt;
          font-weight: 400;
          transform: translateY(-1px);
        }
      }
    }

    > button {
      --col-bg: var(--color-primary-l2);
      --col-border: var(--color-primary-d3);
      --col-hover: var(--color-primary-l3);
      --col-active: var(--color-primary-l1);

      flex-shrink: 0;

      width: 32px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--col-bg);
      border-right: 1px solid var(--col-border);

      &:hover {
        background-color: var(--col-hover);
      }

      &:active {
        background-color: var(--col-active);
      }
    }

    > .playButton {
      --col-bg: var(--color-success);
      --col-border: var(--color-success-d2);
      --col-hover: var(--color-success-l1);
      --col-active: var(--color-success-d1);
    }

    > .content {
      padding: 4px 16px;

      background-color: var(--color-primary-l4);

      font-size: 10pt;
      text-align: center;

      &[data-exists=false] {
        background-color: var(--color-danger-l2);

        font-style: italic;
        color: var(--color-danger-d2);
      }
    }

    > .deleteButton {
      --col-bg: var(--color-danger);
      --col-border: var(--color-danger-d2);
      --col-hover: var(--color-danger-l1);
      --col-active: var(--color-danger-d1);

      border-left: 1px solid var(--col-border);
      border-right: 0;
    }
  }
}
