.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .panelContainer {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: row;
  }

  .playerContainer {
    height: 64px;
  }
}
