.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .panelContainer {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    .editorPanel {
      height: 100%;
      overflow: hidden !important;

      .editorTabsRoot {
        height: 100%;
        overflow: hidden;

        .editorTabsPanel {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }

  .playerContainer {
    height: 64px;
  }
}
